Django==1.8.5
Markdown==2.6.5
Paver==1.2.4
dj-database-url==0.5.0
django-filter==0.11.0
djangorestframework==3.3.1
factory-boy==2.6.1
fake-factory==0.5.3
psycopg2==2.6.1
uWSGI==2.0.12
django-cors-headers==0.12
